---
import {
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
	ShadCard,
} from "@/components/ui/card"

interface Props {
	title: string;
	description: string;
	content: string;
	footer: string;
}

const { title, description, content, footer } = Astro.props;
---
<div class="w-96">
	<ShadCard>
		<CardHeader>
			<CardTitle>{title}</CardTitle>
			<CardDescription>({description})</CardDescription>
		</CardHeader>
		<CardContent>
			<p>{content}</p>
		</CardContent>
		<CardFooter>
			<p>{footer}</p>
		</CardFooter>
	</ShadCard>
</div()>


<!-- <li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li> -->